@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Criar um sistema de cadastro e manipulação de Alarmes relacionados a Equipamentos.</h1>
    <br />
    <h3><strong>Itens da aplicação</strong></h3>
    <ul>
        <li>Cadastro de equipamentos (CRUD)</li>
        <li>Cadastro de Alarmes (CRUD)</li>
        <li>Interface para manipulação de alarmes.</li>
    </ul>
    <ul class="inside">
        <li>Ativar/Desativar Alarmes</li>
        <li>Verificar os Alarmes atuados</li>
    </ul>
</div>